.add-button-category {
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: right;
}

.container-add-category {
    display: flex;
    flex-direction: column;
}

.button-modal-add-category {
    float: right;
    margin-top: 150px;
}